<div class="signup-container">
    <form name="signupForm" class="form-signin" role="form" id="new_user">
        <p>
            <label for="user_First Name">First name</label><br>
            <input placeholder="first_name" class="form-control" type="text" name="user[first_name]" id="user_first_name">
        </p>
        <p>
            <label for="user_Last Name">Last name</label><br>
            <input placeholder="last_name " class="form-control" type="text" name="user[last_name]" id="user_last_name">
        </p>
        <p>
            <label for="user_Email">Email</label><br>
            <input placeholder="email" type="email" class="form-control" name="user[email]" id="user_email">
        </p>
        <p>
            <label for="user_Password">Password</label><br>
            <input placeholder="password" class="form-control" type="password" name="user[password]" id="user_password">
        </p>
        <p>
            <label for="user_Confirm Password">Confirm password</label><br>
            <input placeholder="password_confirmation" class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation">
        </p>
        <p>
            <input type="submit" name="commit" value="Sign Up" class="btn btn-lg btn-primary btn-block">
        </p>
    </form>
</div>
