<div class="TabSection">
    <ul class="nav nav-tabs">
        <li ng-class="ud.Helper.TabClass(ud.selectedTab, tab)" ng-repeat="tab in ud.tabs">
            <a ng-click="ud.Helper.SetSelectedTab(tab)">{{tab.label}}</a>
        </li>
    </ul>
    <div ng-if="ud.selectedTab.label === 'About'">
        <div ng-include="'templates/university/about.html'"></div>
    </div>
    <div ng-if="ud.selectedTab.label === 'Discussions'">
        <div ng-include="'templates/university/discussions.html'"></div>
    </div>
</div>

<div class="outer" ng-cloak ng-show="ud.Popup.bShow">
    <div class="middle">
        <div class="inner Popup_Comments" ng-show="ud.Popup.sType === 'comments'">
            <div class="button-group pull-right">
                <button type="button" class="btn btn-default as-btn-text as-refresh-btn ClosePopup" ng-click="ud.Popup.ShowPopup(false)">X</button>
            </div>
            <div class="PopupTitle">{{ud.Popup.sTitle}}</div>
            <div class="WC_Comments">
                <div class="row WC_CommentsWrapper" ng-repeat="comments in ud.oPost.arrComments">
                    <div class="col-md-1">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="glyphicon glyphicon-thumbs-up" ng-click="post.IncrementUpvotes(post)"></span> {{comments.UpVotes}}
                            </div>
                            <div class="col-md-6">
                                <span class="glyphicon glyphicon-thumbs-down" ng-click="post.IncrementUpvotes(post)"></span> {{comments.DownVotes}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <span ng-show="!edit">{{comments.Comment}}</span>
                        <input ng-show="edit" class="form-control" ng-model="comments.Comment"/>
                    </div>
                    <div class="col-md-2">
                        <span class="WC_Comments_CreatedBy">{{comments.CreatedBy}}</span>
                        </br>
                        <i>{{comments.CreatedWhen | date: 'MMM d, y h:mm a'}}</i>
                    </div>
                    <div class="col-md-1">
                        <div class="row pull-right" ng-show="ud.oLoginItem.bLoggedIn && ud.oLoginItem.id === comments.UserId">
                            <button type="button" class="btn btn-xs btn-default">
                                <span ng-show="!edit" class="glyphicon glyphicon-edit" ng-click="edit = true; $event.stopPropagation()"></span>
                                <span ng-show="edit"  class="glyphicon glyphicon-save" ng-click="edit = false; ud.Helper.AddEditCommentToPost('edit', comments)"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row WC_CommentsAdd" ng-show="ud.oLoginItem.bLoggedIn">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <input type="textarea" class="form-control" ng-model="ud.sComment" placeholder="type your comments..." />
                </div>
                <div class="col-md-1">
                    <div class="row pull-right">
                        <button type="button" class="btn btn-xs btn-default" ng-click="ud.Helper.AddEditCommentToPost('add')">
                                <span class="glyphicon glyphicon-send"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
