<div class="WC_UnivDetails">
    <div class="row">
        <div class="col-md-12">
            <div class="row WC_D_DetailRow">
                <div class="WC_D_DetailLeft col-md-5">
                    <label>Tution Fees</label>
                </div>
                <div class="WC_D_DetailRight col-md-offset-2 col-md-5">
                    $ {{ud.oUniv.arrTuition}}
                </div>
            </div>
            <div class="row WC_D_DetailRow">
                <div class="WC_D_DetailLeft col-md-5">
                    <label>Acceptance Rate</label>
                </div>
                <div class="WC_D_DetailRight col-md-offset-2 col-md-5">
                    {{ud.oUniv.acceptanceRate}}%
                </div>
            </div>
            <div class="row WC_D_DetailRow">
                <div class="WC_D_DetailLeft col-md-5">
                    <label>Enrollment</label>
                </div>
                <div class="WC_D_DetailRight col-md-offset-2 col-md-5">
                    {{ud.oUniv.enrollment}}
                </div>
            </div>
            <div class="row WC_D_DetailRow">
                <div class="WC_D_DetailLeft col-md-5">
                    <label>Address</label>
                </div>
                <div class="WC_D_DetailRight col-md-offset-2 col-md-5">
                    {{ud.oUniv.city}}, <br/> {{ud.oUniv.state}}, <br/> {{ud.oUniv.zip}}
                </div>
            </div>
        </div>
    </div>
</div>
