<div class="col-md-10">
    <form class="tab-pane active form-horizontal" id="first" name="userForm" novalidate ng-submit="update()">
        <h3 class="block">University Details</h3>
        
        <div class="form-group" ng-class="{'has-error' : submitted && userForm.last_name.$invalid}">
            <label class="control-label col-md-3">Name::</label>
            <div class="control-label col-md-3">{{ud.oUniv.name}}</div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : submitted && userForm.last_name.$invalid}">
            <label class="control-label col-md-3">Rank::</label>
            <div class="control-label col-md-3">#{{ud.oUniv.rank}}</div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : submitted && userForm.last_name.$invalid}">
            <label class="control-label col-md-3">Description::</label>
            <div class="control-label col-md-10">{{ud.oUniv.desc}}</div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : submitted && userForm.last_name.$invalid}">
            <label class="control-label col-md-3">Tution Fees::</label>
            <div class="control-label col-md-3"> ${{ud.oUniv.arrTuition}}</div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : submitted && userForm.last_name.$invalid}">
            <label class="control-label col-md-3">Enrollment::</label>
            <div class="control-label col-md-3"> {{ud.oUniv.enrollment}}</div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : submitted && userForm.last_name.$invalid}">
            <label class="control-label col-md-3">Acceptance Rate::</label>
            <div class="control-label col-md-3"> {{ud.oUniv.acceptanceRate}}%</div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : submitted && userForm.last_name.$invalid}">
            <label class="control-label col-md-3">Address::</label>
            <div class="control-label col-md-3"> {{ud.oUniv.city}}, {{ud.oUniv.state}}, {{ud.oUniv.zip}}</div>
        </div>
        
        <div class="form-group" >
            <label class="control-label col-md-3">Major::</label>
            <table class="table table-striped">
                <tr ng-repeat="major in ud.oUniv.arrMajors">
                    <td>{{major[0]}}</td>
                </tr>
            </table>
            <!--<div ng-repeat="major in ud.oUniv.arrMajors">-->
            <!--    <div>{{major[0]}}</div>-->
            <!--</div>-->
        </div>
        
    </form>
</div>