<div class="wrapper row2">
  <div id="container" class="clear">
   <div id="about-us" class="clear">
      <section id="about-intro" class="clear">
        <h2>About Us</h2>
        <center><img src="/univpic.jpg" alt="rss feed" /></center>
        <p>WikiCollege is a student website which was developed by a group of 5 people as their academic project. It is developed to help students who are willing to study  in United States of America. WikiCollege lists out all the nitty-gritty's associated with a university which is not clearly presented in college websites.</p>
        <p>WikiCollege contains groups and discussions within a group for each university. A student can post a query on to group and receive multitudinous suggestions from other people.</p>
      </section>
      <section id="team">
        <h2>Our Team</h2>
        <ul class="clear">
          <li class="one_third first">
            <figure><img src="/mahesh.jpg" alt="">
              <figcaption>
                <p class="team_name">Mahesh Sasidharan</p>
                <p class="team_title">Developer</p>
                <p class="team_description">Mahesh is a second year graduate student at University of Iowa. He loves UI designing</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="/srinivas.jpg" alt="">
              <figcaption>
                <p class="team_name">Srinivas Thuniki</p>
                <p class="team_title">Developer</p>
                <p class="team_description">Srinivas is a first year graduate student at University of Iowa. He loves UI designing.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="/suhas.jpg" alt="">
              <figcaption>
                <p class="team_name">Suhas V Kumar</p>
                <p class="team_title">Developer</p>
                <p class="team_description">Suhas is a first year graduate student at University of Iowa. He loves UI designing.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third first">
            <figure><img src="/kaustubh.jpg" alt="">
              <figcaption>
                <p class="team_name">Kaustubh Mungale</p>
                <p class="team_title">Developer</p>
                <p class="team_description">Kaustubh is a first year graduate student at University of Iowa. He loves UI designing.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="/Raghav.jpg" alt="">
              <figcaption>
                <p class="team_name">Raghavendranath K</p>
                <p class="team_title">Developer</p>
                <p class="team_description">Raghav is a first year graduate student at University of Iowa. He loves UI designing.</p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
