/* override bootstrap*/

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: rgba(230, 16, 16, 0.66);
}


/*end*/

.WC_IndiGroup {
    border: 1px solid red;
    margin-bottom: 2px;
    border-radius: 3px;
    font-size: 25px;
    font-style: italic;
    background-color: rgba(123, 112, 112, 0.1);
    color: rgb(110, 119, 152);
    cursor: pointer;
}

.WC_Post {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    background: #a8b0b3;
    border: 1px solid black;
}

.WC_Post.row {
    margin-left: 0;
    margin-right: 0;
}

.WC_CommentsWrapper {
    border: 2px solid gray;
    margin-top: 5px;
    border-radius: 3px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.15);
}

.WC_CommentsAdd {
    border: 2px solid rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    border-radius: 3px;
    padding: 10px;
    background: rgba(50, 0, 0, 0.15);
}

.WC_Comments_CreatedBy{
    font-weight: bold;
}

.Popup_Comments {
    width: 90%;
}

.filter-container {
    width: 210px;
    height: 400px;
    float: left;
    background-color: #ddd;
    margin-right: 25px
}

/*Overriding bootstrap CSS*/
.col-md-12 {
    float: left;
}

.search-input {
    float: left;
    width: 80%
}

.search-label {
    float: left;
    width: 80%
}

.university-list {
    float: left;
    width: 80%;
}

.container {
    margin-right: 0;
    width: 1270px
}

.filter-inputs {
    width: 85px;
    margin-left: 4px;
    margin-right: 4px;
}

.rank-filter-container, .fees-filter-container {
    float: left;
    margin-top: 10px
}

.float-container {
    float: left;
}

.filter-label{
    width: 200px
}

.filter-by-fees, .fitler-by-rank {
    margin-left: 10px;
    margin-top: 10px;
}

.filter-container-foooter {
    margin-left: 60px;
    margin-top: 25px
}