/* override bootstrap*/
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: rgba(230, 16, 16, 0.66);
}

.TabSection .nav > li {
    cursor: pointer !Important;
}
/*end*/

.WC_IndiGroup {
    border: 1px solid red;
    margin-bottom: 2px;
    border-radius: 3px;
    font-size: 25px;
    font-style: italic;
    background-color: rgba(123, 112, 112, 0.1);
    color: rgb(110, 119, 152);
    cursor: pointer;
}

.WC_Post {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    background: #a8b0b3;
    border: 1px solid black;
}

.WC_Post.row {
    margin-left: 0;
    margin-right: 0;
}

.WC_CommentsWrapper {
    border: 2px solid gray;
    margin-top: 5px;
    border-radius: 3px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.15);
}

.WC_CommentsAdd {
    border: 2px solid rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    border-radius: 3px;
    padding: 10px;
    background: rgba(50, 0, 0, 0.15);
}

.WC_Comments_CreatedBy{
    font-weight: bold;
}

.WC_Gradient{
    background: indianred; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(150,0,0), indianred); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(150,0,0), indianred); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(150,0,0), indianred); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(150,0,0), indianred); /* Standard syntax */
}

.WC_AddOne{
    text-align: center;
    color: white;
    height: 34px;
    cursor:pointer;
}

.WC_AddOne > span{
    margin-top:10px;
}

.Popup_Comments {
    width: 90%;
}

.filter-container {
    /*width: 210px;*/
    /*height: 400px;*/
    /*float: left;*/
    /*margin-right: 25px;*/
    /*border-radius: 10px*/
    background-color: #ddd;
    padding: 8px;
    border-radius: 2px;
}

.WC_ObjectTitle {
    font-style: normal;
}

.WC_ObjectDescription {
    font-size: 12px;
    color: #eee;
}

/*Overriding bootstrap CSS*/
.col-md-12 {
    /*float: left;*/
}

.search-input {
    /*float: left;*/
    /*width: 80%*/
}

.search-label {
    /*float: left;*/
    /*width: 80%*/
}

.university-list {
    /*float: left;*/
    /*width: 80%;*/
}

.container {
    /*margin-right: 0;*/
    /*width: 1270px*/
}

.filter-inputs {
    /*width: 89px;*/
    /*margin-left: 4px;*/
    /*margin-right: 4px;*/
}

.rank-filter-container, .fees-filter-container {
    /*float: left;*/
    /*margin-top: 10px*/
}

.float-container {
    /*float: left;*/
}

.filter-label{
    /*width: 200px*/
}

.filter-by-fees, .fitler-by-rank {
    /*margin-left: 10px;*/
    /*margin-top: 10px;*/
}

.filter-container-foooter {
    /*margin-left: 60px;*/
    /*margin-top: 25px*/
}

.WC_IndiGroupRow {
    padding: 5px;
    border: 1px solid rgba(100,100,100,0.2);
    cursor: pointer;
}

.WC_IndiGroupRow:hover {
    background-color: indianred;
    opacity: 0.7;
}

.WC_IndiGroupRow:hover .WC_ObjectTitle{
    color: black;
    font-size: 35px;
}

.WC_IndiGroupRow:hover .WC_ObjectDescription{
    color: white;
    font-size: 15px;
}


.WC_D_Name {
    font-size: 60px;
    color: #5bc0de;
    text-align: right;
}

.WC_D_Desc{
    color: white;
    font-size: 23px;
}

.WC_D_Rank {
    font-size: 50px;
    text-align: center;
    color: goldenrod;
    border: 5px solid goldenrod;
    border-radius: 100% 0%;
    box-shadow: inset 30px 0px 35px gold;
}

.WC_D_DetailLeft, .WC_D_DetailRight {
    font-size: 20px;
    box-shadow: inset 0px 0px 3px 0px #754040;
    margin-top: 15px;
    border-radius: 4px;
    height: 100%;
    padding: 6px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.WC_UnivDetails{
    height: 600px;
}

.WC_UnivDetails, .WC_UnivDiscussions {
    /*padding: 25px;*/
    position: relative;
    /*background: linear-gradient(rgba(91, 192, 222, 0.39),rgba(255, 0, 0, 0.18));*/
    /*box-shadow: inset 0px 10px 500px rgba(169, 66, 66, 0.71);*/
}

/* Universities*/
.WC_UnivContainer {
    width: 175px;
    height: 175px;
    display: inline-block;
    border: 1px solid red;
    margin-right: 10px;
    overflow: hidden;
    margin-bottom: 4px;
    border-radius: 2px;
    box-shadow: inset 0px 2px 20px indianred;
    /*transition: transform 500ms ease-in;*/
}

.WC_U_Name {
    font-size: 22px;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.WC_U_City {
    font-size: 20px;
    padding-top: 14px;
    color: black;
}

.WC_U_RankState {
    height: 50px;
    padding-top: 14px;
    font-size: 23px;
    color: gray;
}

.WC_UnivContent a:hover {
    text-decoration: none;
}

.WC_U_AcceptR {
    margin-top: 173px;
    text-align: center;
    background: rgba(70, 51, 51, 0.9);
    color: #f5f5f5;
    font-size: 14px;
    width: 100%;
    position: absolute;
    left: 0px;
    height: 48px;
    padding-top: 16px;
    width: 173px;
}

.WC_UnivContainer:hover {
    background: rgba(0,0,0,0.09);
    /*transform: rotateY(360deg);*/
    /*transition: transform 0ms ease-in;*/
}

.WC_UnivContainer:hover .row{
    opacity: 0.5;
}

.WC_UnivContainer:hover .WC_U_AcceptR {
    margin-top: 125px;
}

.WC_List {
    margin-top: 15px;
    margin-right: -93px;
}

.WC_List .btn-group{
    float: right;
}

.WC_U_Rank {
    color: goldenrod;
}

.WC_UserNameContainer {
    margin-top: 7px;
    font-size: 30px;
    font-style: italic;
}

.WC_UserName{
    color: indianred;
}

.filter-by-states {
    /*margin-left: 15px;*/
    /*margin-top: 20px;*/
}

.removeBSColMargin [class^="col-md"] {
    padding-left: 0;
    padding-right: 0;
}

.multiselect-parent, .multiselect-parent button {
    width: 100%;
}

.flipContainer { 
  /*width: 175px;*/
  /*height: 175px;*/
  position: relative;
  perspective: 800px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 600ms;
}

#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card .flipFront {
  /*background: red;*/
}
#card .flipBack {
  /*background: blue;*/
  transform: rotateY( 180deg );
}

.WC_UnivContainer:hover #card {
  transform: rotateY( 180deg );
}

.WC_UnivBackSide{
    width: 175px;
    height: 175px;
    position: absolute;
    left: -15px;
}

.WC_UnivAbs{
    position: absolute;
}

.dimmed {
  position: absolute;
  filter: blur(6px);
  width: 100%;
  height: 100%;
}

.dimmed:after {
  content: " ";
  z-index: 0;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(4px);
}