<!DOCTYPE html>
<html ng-app="myapplication">
<head>
  <title>Wiki College</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="HomeCtrl as ho">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">Wiki College</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#/About1">About</a></li>
        <li><a href="#/Contact">Contact</a></li>
        <!--<li><a href="#/Login">Login</a></li>-->
        <li><a class="cursorPointer" ng-click="ho.ShowHideLogin()">Login</a></li>
      </ul>
      <div ng-include="'templates/login/login.html'"></div>
    </div>
  </nav>
  
  <div class="container" ng-view>
    <%= yield %>
  </div>
</body>
</html>
